@media (max-width: 800px) {
    .page {
        height: unset;
        background-color: #fff;
        display: block;
    }
    
    #login {
        display: none;
    }
    
    #top-bar {
        width: 100%;
    }

    .logo {
        margin: 10px auto;
        text-align: center;
        display: flex;
        justify-content: center;
        width: 40px !important;
    }

    #title-page {
        display: block;
        justify-content: unset;
        align-items: center;
        text-align: center;
        height: 99vh;
    }

    .google-play-badge {
        margin: 0 auto;
        width: 120px !important;
    }

    .page img {
        width: 250px;
    }

    .small-page {
        height: 100vh;
        display: block;
    }
    .info-item {
        width: 90% !important;
        margin: 0 !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .description {
        width: 90%;
    }

    #footer {
        display: block;
    }
    #footer .top , #footer .bottom{
        display: block;
    }
    #link-bar {
        display: block;
        justify-content: unset;
    }
    .team .team-content .imgs {
        display: block;
    }
}